<div id="switch-panel-container">
<div id="switch-panel">
    <div id="root-systems-container">
        <div class="root-system-item"
        [class.selected]="getSelectedRootSystem() == 'A1'"
        (click)="switchToRootSystem(RootSystems.A1)">
            <img src="assets/A1.svg" class="root-system-image">
            <small class="root-system-title">A1</small>
        </div>
        <div class="root-system-item"
        [class.selected]="getSelectedRootSystem() == 'A1_A1'"
        (click)="switchToRootSystem(RootSystems.A1_A1)">
            <img src="assets/A1_A1.svg" class="root-system-image">
            <small class="root-system-title">A1 &#10005; A1</small>
        </div>
        <div class="root-system-item" 
        [class.selected]="getSelectedRootSystem() == 'D2'"
        (click)="switchToRootSystem(RootSystems.D2)">
            <img src="assets/D2.svg" class="root-system-image">
            <small class="root-system-title">D2</small>

        </div>
        <div class="root-system-item" 
        [class.selected]="getSelectedRootSystem() == 'A2'"
        (click)="switchToRootSystem(RootSystems.A2)">
            <img src="assets/A2.svg" class="root-system-image">
            <small class="root-system-title">A2</small>

        </div>
        <div class="root-system-item"
        [class.selected]="getSelectedRootSystem() == 'G2'"
        (click)="switchToRootSystem(RootSystems.G2)">
            <img src="assets/G2.svg" class="root-system-image">
            <small class="root-system-title">G2</small>

        </div>
        <div class="root-system-item" 
        [class.selected]="getSelectedRootSystem() == 'C2'"
        (click)="switchToRootSystem(RootSystems.C2)">
            <img src="assets/C2.svg" class="root-system-image">
            <small class="root-system-title">C2</small>
        </div>
        <div class="root-system-item" 
        [class.selected]="getSelectedRootSystem() == 'B2'"
        (click)="switchToRootSystem(RootSystems.B2)">
            <img src="assets/B2.svg" class="root-system-image">
            <small class="root-system-title">B2</small>

        </div>
    </div>
</div>
</div>