<section id="projection-control-section">
  <div id="cubes-section">
    <app-projection-cubes-control
      class="rotating-cube-display"
      [rotateX]="angleX1"
      [rotateY]="angleX2"
    ></app-projection-cubes-control>
    <app-projection-cubes-control
      class="rotating-cube-display"
      [rotateX]="angleY1"
      [rotateY]="angleY2"
      [color1]="Colors.yellow"
      [color2]="Colors.green"
    ></app-projection-cubes-control>
  </div>
  <div id="projection-controls">
    <div class="projection-control-item">
      <app-rotation-control
        [color]="Colors.red"
        (angleChanged)="changeAngle('x1', $event)"
      ></app-rotation-control>
    </div>
    <div class="projection-control-item">
      <app-rotation-control
        (angleChanged)="changeAngle('x2', $event)"
        [color]="Colors.blue"
      ></app-rotation-control>
    </div>
    <div class="projection-control-item">
      <app-rotation-control
        (angleChanged)="changeAngle('y1', $event)"
        [color]="Colors.yellow"
      ></app-rotation-control>
      
    </div>
    <div class="projection-control-item">
    <app-rotation-control
        (angleChanged)="changeAngle('y2', $event)"
        [color]="Colors.green"
      ></app-rotation-control>
    </div>
  </div>
</section>
