<div id="projection-settings-panel">
    <button id="expand-button">
      <mat-icon [fontIcon]="isExpanded ? 'expand_more' : 'expand_less'" (click)="toggleExpand()"></mat-icon>
    </button>
    <h3 id="heading">Projection Settings</h3>
    <div id="inner-content" [@expanded]="isExpanded">
      <div class="divider"></div>
      <h4 class="subsection-heading">Type of Projection</h4>
    <mat-radio-group class="projection-type-container">
      <div class="projection-item" (click)="setProjectionType(ProjectionType.orthogonal)">
      <mat-radio-button
      [checked]="projectionType == ProjectionType.orthogonal"
      [value]="true"
      >
      </mat-radio-button>
        <p class="projection-text">Orthogonal</p>
      </div>
      <div class="projection-item" (click)="setProjectionType(ProjectionType.stereographic)">
          <mat-radio-button
          [checked]="projectionType == ProjectionType.stereographic"
          [value]="false"
          >
        </mat-radio-button>
        <p class="projection-text">Stereographic</p>
      </div>
  </mat-radio-group>
  <div class="divider"></div>

  <h4 class="subsection-heading">Projection Space </h4>
    <mat-radio-group class="projection-type-container">
      <div class="projection-item" (click)="setProjectionDim(projectionStart, 2)">
      <mat-radio-button
      [checked]="projectionEnd == 2"
      [value]="3"
      >
      </mat-radio-button>
        <p class="projection-text">2D</p>
      </div>
      <div class="projection-item" (click)="projectionStart != 3 ? setProjectionDim(projectionStart, 3): 0">
          <mat-radio-button
          [checked]="projectionEnd == 3"
          [disabled]="projectionStart == 3"
          [value]="2"
          >
        </mat-radio-button>
        <p class="projection-text">3D</p>
      </div>
  </mat-radio-group>
  <div class="divider"></div>
  <h4 class="subsection-heading">Starting Space</h4>
  <mat-radio-group class="projection-type-container " id="start-dimension-container">
    <div class="projection-item" (click)="setProjectionDim(dim, projectionEnd)" *ngFor="let dim of possibleStartDimensions">
    <mat-radio-button
    [checked]="projectionStart == dim"
    [value]="dim"
    >
    </mat-radio-button>
      <p class="projection-text">{{dim}}D</p>
    </div>
</mat-radio-group>

    <div class="divider"></div>
    <h4 class="subsection-heading">Root Systems</h4>
    <div *ngFor="let singleSystem of rootSystems">
      <mat-radio-group class="root-system-list" *ngIf="singleSystem.dim == projectionStart">
        <div *ngFor="let rootSystem of singleSystem.systems">
          <div class="root-system-item" (click)="loadRootSystem(rootSystem.ref, rootSystem.colors, rootSystem.text)"
          
          >
          <mat-radio-button
          [checked]="selectedRootSystem == rootSystem.text"
          [value]="rootSystem.text"
          >
          </mat-radio-button>
            <p class="root-system-text">{{rootSystem.text}}</p>
          </div>
        </div>
      </mat-radio-group>
  </div>
</div>
</div>
  