<div id="switch-panel-container">
    <div id="switch-panel">
    <div id="root-systems-container">
        <div class="root-system-item"
            [class.selected]="getSelectedRootSystem() == 'A3'"
        (click)="switchToRootSystem(RootSystems.A3)">
            <img src="assets/A3.svg" class="root-system-image">
            <small class="root-system-title">A3</small>
        </div>
        <div
        [class.selected]="getSelectedRootSystem() == 'B3'"
        class="root-system-item" (click)="switchToRootSystem(RootSystems.B3)">
            <img src="assets/B3.svg" class="root-system-image">
            <small class="root-system-title">B3</small>
        </div>
        <div class="root-system-item"
        [class.selected]="getSelectedRootSystem() == 'C3'"
        (click)="switchToRootSystem(RootSystems.C3)">
            <img src="assets/C3.svg" class="root-system-image">
            <small class="root-system-title">C3</small>
        </div>
        <!-- <div class="root-system-item"
        [class.selected]="getSelectedRootSystem() == 'D3'"
        (click)="switchToRootSystem(RootSystems.D3)">
            <img src="assets/D3.svg" class="root-system-image">
            <small class="root-system-title">D3</small>
        </div> -->
    </div>
</div>
</div>
